[Unit]
Description=uavlogviewer (docker compose)
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=andrii-berezen
Group=andrii-berezen
WorkingDirectory=/home/andrii-berezen/Desktop/dev/UAVLogViewer
ExecStart=/usr/bin/docker compose up -d --remove-orphans
ExecStop=/usr/bin/docker compose down
ExecReload=/usr/bin/docker compose up -d --build --remove-orphans
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target
